<div class="row">
      <div class="col s3">
        <ul class="sidenav sidenav-fixed">
          <li class="collection-item">
            <img  class="logoimg" src="assets/imgs/logo.png"/>
          </li>
          <li class="collection-item">
            <i class="material-icons icon">account_box</i>&nbsp
            <span class="span-text" ng-click="getinfo()">我的信息</span>
          </li>
          <li class="collection-item ">
            <i class="material-icons icon">account_balance_wallet</i>
            <span class="span-text" ng-click = "getpayinfo()">我的工资</span>
          </li>
          <li class="collection-item">
            <i class="Medium material-icons icon">exit_to_app</i>
            <span class="span-text" ng-click="logout()">退出账户</a>
          </li>
        </ul>
      </div>
      <div class="col s8" ng-show="info" style="margin-left:-18px;">
        <div class="card">
          <div class="card-title">
            <div class="row">
              <div class="col s4">
                  <img src={{obj.img}} alt="this is a picture" style="width:250px;height:300px"/>
              </div>
              <div class="col s8">
                <br /><br />
                <i class="Medium material-icons" style="vertical-align:middle;">account_circle</i>
                <span style="vertical-align:middle;">{{obj.name}}</span>
                <br />
                <br />
                <i class="Medium material-icons" style="vertical-align:middle;">local_phone</i>
                <span style="vertical-align:middle;">{{obj.phone}}</span>
                <br />
                <i class="Medium material-icons" style="vertical-align:middle;">location_on</i>
                <span style="vertical-align:middle;">{{obj.address}}</span>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="">
              <ul class="collection">
                <li class="collection-item">
                  <i class="Medium material-icons" style="vertical-align:middle;">perm_identity</i>
                  <span style="vertical-align:middle;">自我介绍&nbsp&nbsp&nbsp&nbsp&nbsp{{obj.introduction}} </span>
                </li>
                <li class="collection-item">
                  <i class="Medium material-icons" style="vertical-align:middle;">person_pin_circle</i>
                  <span style="vertical-align:middle;">职位&nbsp&nbsp&nbsp&nbsp&nbsp{{obj.position}}</span>
                </li>
                <li class="collection-item">
                  <i class="Medium material-icons" style="vertical-align:middle;">cake</i>
                  <span style="vertical-align:middle;">生日&nbsp&nbsp&nbsp&nbsp&nbsp{{obj.birth}}</span>
                </li>
                <li class="collection-item">
                  <i class="Medium material-icons" style="vertical-align:middle;">access_time</i>
                  <span style="vertical-align:middle;">加入公司时间&nbsp&nbsp&nbsp&nbsp&nbsp{{obj.jointime}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col s8" ng-hide="info" style="margin-left:-18px;">

      </div>
    </div>
