<div class="row">
  <div class="col s3">
    <ul class="sidenav sidenav-fixed">
      <li class="collection-item">
        <img  class="logoimg" src="assets/imgs/logo.png"/>
      </li>
      <li class="collection-item">
        <i class="material-icons icon">account_box</i>&nbsp
        <span class="span-text" ng-click="getinfos()">员工列表</span>
        <!-- 添加员工 ，删除员工，查看员工基本信息（列表形式，某个员工信息在modal中展示）-->
      </li>
      <li class="collection-item ">
        <i class="material-icons icon">account_balance_wallet</i>
        <span class="span-text" ng-click = "getpayinfo()">员工工资</span>
        <!-- 修改员工工资 -->
      </li>
      <li class="collection-item">
        <i class="Medium material-icons icon">exit_to_app</i>
        <span class="span-text" ng-click="logout()">退出账户</a>
      </li>
    </ul>
  </div>
  <div class="col s8" ng-show="money" style="margin-left:-18px;">
    <div class="container card">
      <div class="container card-title">
        员工列表 &nbsp&nbsp <button class="waves-effect waves-light btn" ng-click="addEmployee()">添加员工</button>
      </div>
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>职位</th>
                <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = " x in objs">
              <td>{{x.name}}</td>
              <td>{{x.sex}}</td>
              <td>{{x.birth}}</td>
              <td>{{x.position}}</td>
              <td>
                <button class="waves-effect waves-light btn" ng-click="deleteEmployee(x)">删除</button>
              </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col s8" ng-hide="money">
    <div class="card">
      <div class="row">
        <div class="col s6">
          <span>工资账户余额(ether)：{{balance}}</span>
        </div>
        <div class="col s6">
          <button class="waves-effect waves-light btn" ng-click="addFund()">账户充值</button>
        </div>
      </div>
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
              <th>姓名</th>
              <th>工资(ether)</th>
              <th>职位</th>
              <th>账户</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in pays" ng-show="x.salary != 0">
              <td>{{x.name}}</td>
              <td>{{x.salary}}</td>
              <td>{{x.position}}</td>
              <td>{{x.address}}</td>
              <td>
                <button class="waves-effect waves-light btn" ng-click="changSalary(x)">修改工资</button>
              </td>
              <td>
                <button class="waves-effect waves-light btn" ng-click="deleteEmployee(x)">删除员工</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- templates -->

<script id = "addFund.html" type="text/ng-template">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12">
        <input name="fund" type="number" ng-model="fund" />
        <label for="fund">充值金额(ehter)</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row ">
        <div class="col s6">
          <a class="waves-effect waves-light btn" ng-click="cancel()">取消</a>
        </div>
        <div class="col s6">
          <a class="waves-effect waves-light btn" ng-click="ok()">确定</a>
        </div>
    </div>
  </div>
</script>


<script id="deleteEmployee.html" type="text/ng-template">
  <div class="panel">
    <div class="modal-content">
      <p>
        确定删除员工：{{name}}
      </p>
    </div>
    <div class="modal-footer">
      <div class="row ">
          <div class="col s6">
            <a class="waves-effect waves-light btn" ng-click="cancel()">取消</a>
          </div>
          <div class="col s6">
            <a class="waves-effect waves-light btn" ng-click="ok()">确定</a>
          </div>
      </div>
    </div>
  </div>
</script>


  <script id="addEmployee.html" type="text/ng-template" >
    <div class="panel" >
      <div class="modal-header">
        填写员工信息
      </div>
      <div class="modal-content row">
          <form class="col s12" name="infoForm">
            <div class="row">
              <div class="input-field col s12">
                <input name="name" type="text" ng-model="name" />
                <label for="name">姓名</label>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <label>
                  <input class="with-gap" type="radio" ng-model="sex" value="0"/>
                  <span>男</span>
                </label>
              </div>
              <div class="col s6">
                <label>
                  <input class="with-gap" type="radio" ng-model="sex" value="1"/>
                  <span>女</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input name="birth" type="text" ng-model="birth" />
                <label for="birth">出生年月(xxxx-xx-xx)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input class="with-gap" name="position" type="text" ng-model="position" />
                <label for="position">职位</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input class="with-gap" name="salary" type="text" ng-model="salary" />
                <label for="salary">工资</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input class="with-gap" name="address" type="text" ng-model="address" />
                <label for="address">住址</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input class="with-gap"  name="accountname" type="text" ng-model="accountname" />
                <label for="accountname">登录账户</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input class="with-gap"  name="payAccount" type="text" ng-model="payAccount" />
                <label for="payAccount">工资账户</label>
              </div>
            </div>
            <div class="row ">
                <div class="col s6">
                  <a class="waves-effect waves-light btn" ng-click="cancel()">取消</a>
                </div>
                <div class="col s6">
                  <a class="waves-effect waves-light btn" ng-click="ok()">确定</a>
                </div>
            </div>
          </form>
      </div>
    </div>
  </script>

  <script id="changSalary.html" type="text/ng-template">
    <div class="panel">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <span>姓名：{{temp.name}}</span>
          </div>
        </div>
        <div class="row">
          <span>原工资：{{temp.salary}}</span>
        </div>
        <div class="row">
          <span>设置新工资：</span>
          <input  ng-model="newsalary" type="number"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row ">
            <div class="col s6">
              <a class="waves-effect waves-light btn" ng-click="cancel()">取消</a>
            </div>
            <div class="col s6">
              <a class="waves-effect waves-light btn" ng-click="ok()">确定</a>
            </div>
        </div>
      </div>
    </div>
  </script>
